In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\kalya\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kalya\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kalya\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\kalya\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\kalya\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sniffio in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\kalya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kalya\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kalya\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kalya\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

# FIRST QUESTION ANSWER

In [154]:
import pandas as pd 
import selenium

In [155]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [156]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [157]:
driver.get("http://www.naukri.com/")

In [158]:
pspk=driver.find_element(By.CLASS_NAME,"suggestor-input")
pspk.send_keys("Data Analyst")

In [159]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[3]/div/input")
location.send_keys("Bangalore")

In [160]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [161]:
job_titles=[]
job_location=[]
company_name=[]
experience_required=[]

In [162]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_titles.append(title)

In [163]:
location_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [164]:
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [165]:
experience_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [166]:
print(len(job_titles),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [167]:
import pandas as pd
df=pd.DataFrame({'Title':job_titles,'Location':job_location,'Company name':company_name,'Experience':experience_required})
df

,Title,Location,Company name,Experience
0,Data Analyst,"Mumbai Suburban, Mumbai (All Areas)",Cointab Software,0-2 Yrs
1,Data Analyst : ( Night Shift ),Vadodara,Bluebox Infosoft,0-2 Yrs
2,Data Analyst,"Mumbai Suburban, Thane, Panvel, Navi Mumbai, K...",Ornet Technologies,0-1 Yrs
3,Data Analyst,Gurgaon/Gurugram,GM Analytics Solutions,2-5 Yrs
4,Data Analyst,Chennai(Alwarpet),Wiz Logtec Solutions,1-3 Yrs
5,Data Analyst,"Hybrid - Hyderabad/Secunderabad, Pune, Bangalo...",EY,5-10 Yrs
6,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs
8,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
9,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs

# SECOND QUESTION ANSWER

In [361]:
import pandas as pd 
import selenium

In [362]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [363]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [364]:
driver.get("http://www.naukri.com/")

In [365]:
munna=driver.find_element(By.CLASS_NAME,"suggestor-input")
munna.send_keys("Data Scientist")

In [366]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [367]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [368]:
job_tit=[]
job_loc=[]
company_nam=[]
experience_req=[]

In [369]:
tit_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in tit_tags[0:10]:
    
    tit=i.text                           
    job_tit.append(tit)

In [370]:
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_nam.append(company)

In [371]:
experience_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")
for i in experience_tags[0:10]:
    experience=i.text
    experience_req.append(experience)

In [372]:
loc_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in loc_tags[0:10]:
    loc=i.text
    job_loc.append(loc)

In [373]:
print(len(job_tit),len(job_loc),len(company_nam),len(experience_req))

10 10 10 10

In [374]:
import pandas as pd
df=pd.DataFrame({'Title':job_tit,'Location':job_loc,'Company name':company_nam,'Experience':experience_req})
df

,Title,Location,Company name,Experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant,8-10 Yrs
3,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS),7-12 Yrs
4,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini,9-14 Yrs
5,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft,8-12 Yrs
6,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited,8-10 Yrs
7,Sr. Data Scientist,Bangalore/Bengaluru,Visa,4-8 Yrs
8,Lead Artificial Intelligence Specialist,Bangalore/Bengaluru,Baker Hughes,5-10 Yrs
9,Lead data scientist,Bangalore/Bengaluru,Siemens,8-10 Yrs

# FOURTH QUESTION ANSWER

In [27]:
import pandas as pd 
import selenium

In [28]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [29]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [30]:
driver.get("http://www.flipkart.com/")

In [31]:
kal=driver.find_element(By.CLASS_NAME,"_3704LK")
kal.send_keys("sunglasses")

In [33]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [34]:
g_brand=[]
g_price=[]
g_fea=[]

In [35]:
start=0
end=3
for page in range (start,end):
    brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand_tags[0:100]:
        brand=i.text
        g_brand.append(brand)

In [36]:
len(g_brand)

120

In [37]:
start=0
end=3
for page in range (start,end):
    price_tags=driver.find_elements(By.XPATH,"//a[@class='_3bPFwb']")
    for i in price_tags[0:100]:
        price=i.text
        g_price.append(price)

In [38]:
len(g_price)

120

In [42]:
start=0
end=3
for page in range(start,end):
    fea_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in fea_tags[0:100]:
        fea=i.text
        g_fea.append(fea)

In [43]:
len(g_fea)

120

In [44]:
print(len(g_brand),len(g_price),len(g_fea))

120 120 120

In [52]:
import pandas as pd
df=pd.DataFrame({'BRAND':g_brand,'PRICE':g_price,'FEATURES':g_fea})
df=pd.DataFrame({'Brand':brand[0:100],

                'FEATURES':g_fea[0:100],

                'Price':price[0:100]})
df

,Brand,FEATURES,Price
0,R Resist,UV Protection Aviator Sunglasses (55),"₹1,399₹4,99972% off\nFree delivery"
1,R Resist,UV Protection Rectangular Sunglasses (Free Size),"₹1,399₹4,99972% off\nFree delivery"
2,R Resist,UV Protection Wayfarer Sunglasses (50),"₹1,399₹4,99972% off\nFree delivery"
3,R Resist,"Others Wayfarer, Retro Square Sunglasses (50)","₹1,399₹4,99972% off\nFree delivery"
4,R Resist,"Gradient, UV Protection Wayfarer Sunglasses (F...","₹1,399₹4,99972% off\nFree delivery"
...,...,...,...
95,R Resist,UV Protection Cat-eye Sunglasses (46),"₹1,399₹4,99972% off\nFree delivery"
96,R Resist,UV Protection Aviator Sunglasses (54),"₹1,399₹4,99972% off\nFree delivery"
97,R Resist,UV Protection Aviator Sunglasses (Free Size),"₹1,399₹4,99972% off\nFree delivery"
98,R Resist,UV Protection Rectangular Sunglasses (Free Size),"₹1,399₹4,99972% off\nFree delivery"
99,R Resist,"Polarized, UV Protection, Mirrored Retro Squar...","₹1,399₹4,99972% off\nFree delivery"

# FIFTH QUESTION ANSWER

In [143]:
import pandas as pd 
import selenium

In [437]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [438]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [146]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [147]:
mob_rat=[]
mob_sum=[]
mob_rev=[]

In [148]:
start=0
end=100

for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,"//div[@class='_2d4LTz']")
    for i in rating_tags[0:100]:
        rating=i.text
        mob_rat.append(rating)

In [149]:
start=0
end=10
for i in range(start,end):
    summary_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in summary_tags[0:10]:
        summary=i.text
        mob_sum.append(summary)

In [150]:
start=0
end=50
for i in range(start,end):
    reviews_tag=driver.find_elements(By.XPATH,"//div[@class='col-12-12']")
    for i in review_tag[0:25]:
        reviews=i.text
        mob_rev.append(reviews)

In [151]:
print(len(mob_rat),len(mob_sum),len(mob_rev))

100 100 100

In [153]:
import pandas as pd 
df=pd.DataFrame({'RATING':mob_rat,'SUMMARY':mob_sum,'REVIEWS':mob_rev})
df

,RATING,SUMMARY,REVIEWS
0,4.6,Really satisfied with the Product I received.....,"1,82,975 Ratings &"
1,4.6,Amazing phone with great cameras and better ba...,"10,766 Reviews"
2,4.6,Great iPhone very snappy experience as apple k...,"1,82,975 Ratings &"
3,4.6,I'm Really happy with the product\nDelivery wa...,"10,766 Reviews"
4,4.6,It's my first time to use iOS phone and I am l...,"1,82,975 Ratings &"
...,...,...,...
95,4.6,Previously I was using one plus 3t it was a gr...,"10,766 Reviews"
96,4.6,Value for money\n5 star rating\nExcellent came...,"1,82,975 Ratings &"
97,4.6,What a camera .....just awesome ..you can feel...,"10,766 Reviews"
98,4.6,I was using Iphone 6s and also Oneplus 6t. Bot...,"1,82,975 Ratings &"
99,4.6,Amazing Powerful and Durable Gadget.\n\nI’m am...,"10,766 Reviews"

#  SIX QUESTION ANSWER

In [53]:
import pandas as pd 
import selenium

In [54]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [55]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [56]:
driver.get("http://www.flipkart.com/")

In [57]:
kar=driver.find_element(By.CLASS_NAME,"_3704LK")
kar.send_keys("sneakers")

In [59]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [60]:
s_brand=[]
s_pd=[]
s_price=[]

In [61]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand_tags[0:100]:
        brand=i.text
        s_brand.append(brand)

In [62]:
len(s_brand)

120

In [64]:
start=0
end=3
for i in range(start,end):
    pd_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in pd_tags[0:100]:
        pd=i.text
        s_pd.append(pd)

In [65]:
len(s_pd)

120

In [66]:
start=0
end=3
for i in range(start,end):
    price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price_tags[0:100]:
        price=i.text
        s_price.append(price)

In [67]:
len(s_price)

120

In [70]:
import pandas as pd
df=pd.DataFrame({"BRAND":s_brand,"PRODUCT DESCRIPTION":s_pd,"PRICE":s_price})
df=pd.DataFrame({'BRAND':s_brand[0:100],

                'PRODUCT DESCRIPTION':s_pd[0:100],

                'PRICE':s_price[0:100]})
df

       BRAND                                PRODUCT DESCRIPTION   PRICE
0   RapidBox                                   Sneakers For Men    ₹606
1       aadi  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹373
2     Shozie  Stylish Sneakers Shoes for Women And Girls Sne...    ₹374
3       aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹399
4     Kraasa                                 Sneakers For Women    ₹299
..       ...                                                ...     ...
95    Gorofy  Gorofy Casual Shoes For Men Walking,Sneakers,L...    ₹399
96    ADIDAS                     STREET ICON M Sneakers For Men  ₹1,943
97    Kraasa                          Series 7 Sneakers For Men    ₹599
98    Layasa      Stylish Casual Sports Shoe Sneakers For Women    ₹389
99      aadi  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹479

[100 rows x 3 columns]

# SEVENTH QUESTION ANSWER

In [501]:
import pandas as pd 
import selenium

In [502]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [503]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [504]:
driver.get("https://www.amazon.in/")

In [505]:
son=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
son.send_keys("laptops")

In [506]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [508]:
nit=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[12]/span/a/span")
                       
nit.click()

In [509]:
l_tit=[]
l_pri=[]
l_rati=[]

In [510]:
tit_tags=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in tit_tags[0:10]:
    tit=i.text
    l_tit.append(tit)

In [511]:
len(l_tit)

10

In [512]:
pri_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in pri_tags[0:10]:
    pri=i.text
    l_pri.append(pri)

In [513]:
len(l_pri)

10

In [514]:
rati_tags=driver.find_elements(By.XPATH,"//span[@class='a-size-base']")
for i in rati_tags[0:10]:
    rati=i.text
    l_rati.append(rati)

In [515]:
len(l_rati)

10

In [517]:
import pandas as pd 
df=pd.DataFrame({"TITLE":l_tit,"RATINGS":l_rati,"PRICE":l_pri})
df

                                               TITLE RATINGS     PRICE
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...     4.3    89,990
1  Lenovo Legion 5 Intel Core i7 11th Gen 15.6" (...     2.9  1,17,990
2  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...     4.1    56,990
3  HP Victus Gaming Latest 12th Gen Intel Core i7...     4.3    85,990
4  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...     4.2    82,990
5  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...
6  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...
7  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...
8  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...
9  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...

# EIGHT QUESTION ANSWER

In [181]:
import pandas as pd 
import selenium

In [182]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [183]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [187]:
driver.get("http://www.azquotes.com/")

In [188]:
far=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
far.click()

In [189]:
k_quote=[]
k_author=[]
k_tq=[]

In [190]:
start=0
end=10
for page in range(start,end):
    quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
    for i in quote_tags[0:1000]:
        quote=i.text
        k_quote.append(quote)

In [191]:
len(k_quote)

1000

In [193]:
start=0
end=10
for page in range(start,end):
    author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
    for i in author_tags[0:1000]:
        author=i.text
        k_author.append(author)

In [194]:
len(k_author)

1000

In [195]:
start=0
end=10
for page in range(start,end):
    tq_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
    for i in tq_tags[0:1000]:
        tq=i.text
        k_tq.append(tq)

In [196]:
len(k_tq)

1000

In [197]:
df=pd.DataFrame({"QUOTE":k_quote,"AUTHOR":k_author,"TYPES OF QUOTES":k_tq})
df

,QUOTE,AUTHOR,TYPES OF QUOTES
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# NINTH QUESTION ANSWER

In [378]:
import pandas as pd 
import selenium

In [379]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [380]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [381]:
driver.get("http://www.jagranjosh.com/")

In [382]:
dar=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
dar.click()

In [384]:
sea=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
sea.click()

In [406]:
pm_name=[]
pm_bd=[]
pm_to=[]
pm_rem=[]

In [389]:
list_PM

["S.N.\nName\nBorn-Dead\nTerm of office\nRemark\n1.\nJawahar Lal Nehru\n(1889–1964)\n15 August 1947 to 27 May 1964\n16 years, 286 days\nThe first prime minister of India and the longest-serving PM of India, the first to die in office.\n2.\nGulzarilal Nanda (Acting)\n(1898-1998)\n27 May 1964 to 9 June 1964,\n13 days\nFirst acting PM of India\n3.\nLal Bahadur Shastri\n(1904–1966)\n9 June 1964 to 11 January 1966\n1 year, 216 days\nHe has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965\n4. \nGulzari Lal Nanda  (Acting)\n(1898-1998)\n11 January 1966 to 24 January 1966\n13 days\n-\n5.\nIndira Gandhi\n(1917–1984)\n24 January 1966 to 24 March 1977\n11 years, 59 days\nFirst female Prime Minister of India\n6.\nMorarji Desai\n(1896–1995)\n24 March 1977 to  28 July 1979 \n2 year, 126 days\nOldest to become PM (81 years old) and first to resign from office\n7.\nCharan Singh\n(1902–1987)\n28 July 1979 to 14 January 1980\n170 days\nOnly PM who did not face the Parliament\n8.\nIndira Gandhi\n(1917–1984)\n14 January 1980 to 31 October 1984\n4 years, 291 days\nThe first lady who served as PM for the second term\n9.\nRajiv Gandhi\n(1944–1991)\n31 October 1984 to 2 December 1989\n5 years, 32 days\nYoungest to become PM (40 years old)\n10.\nV. P. Singh\n(1931–2008)\n2 December 1989 to 10 November 1990\n343 days\nFirst PM to step down after a vote of no confidence\n11.\nChandra Shekhar\n(1927–2007)\n10 November 1990 to 21 June 1991\n223 days\nHe belongs to  Samajwadi Janata Party\n12.\nP. V. Narasimha Rao\n(1921–2004)\n21 June 1991 to 16 May 1996\n4 years, 330 days\nFirst PM from south India\n13.\nAtal Bihari Vajpayee\n(1924- 2018)\n16 May 1996 to 1 June 1996\n16 days\nPM for shortest tenure\n14.\nH. D. Deve Gowda\n(born 1933)\n1 June 1996 to 21 April 1997\n324 days\nHe belongs to  Janata Dal\n15.\nInder Kumar Gujral\n(1919–2012)\n21 April 1997 to 19 March 1998 \n332 days\n------\n16.\nAtal Bihari Vajpayee\n(1924-2018)\n19 March 1998 to 22 May 2004 \n6 years, 64 days\n The first non-congress PM who completed a full term as PM\n17.\nManmohan Singh\n(born 1932)\n22 May 2004 to 26 May 2014   \n10 years, 4 days\n First Sikh PM\n18.\nNarendra Modi\n(born 1950)\n26 May 2014 - Present\n4th Prime Minister of India who served two consecutive tenures"]

In [394]:
print(list_PM)

["S.N.\nName\nBorn-Dead\nTerm of office\nRemark\n1.\nJawahar Lal Nehru\n(1889–1964)\n15 August 1947 to 27 May 1964\n16 years, 286 days\nThe first prime minister of India and the longest-serving PM of India, the first to die in office.\n2.\nGulzarilal Nanda (Acting)\n(1898-1998)\n27 May 1964 to 9 June 1964,\n13 days\nFirst acting PM of India\n3.\nLal Bahadur Shastri\n(1904–1966)\n9 June 1964 to 11 January 1966\n1 year, 216 days\nHe has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965\n4. \nGulzari Lal Nanda  (Acting)\n(1898-1998)\n11 January 1966 to 24 January 1966\n13 days\n-\n5.\nIndira Gandhi\n(1917–1984)\n24 January 1966 to 24 March 1977\n11 years, 59 days\nFirst female Prime Minister of India\n6.\nMorarji Desai\n(1896–1995)\n24 March 1977 to  28 July 1979 \n2 year, 126 days\nOldest to become PM (81 years old) and first to resign from office\n7.\nCharan Singh\n(1902–1987)\n28 July 1979 to 14 January 1980\n170 days\nOnly PM who did not face the Parliament\n8.\nIndira Gandhi\n(1917–1984)\n14 January 1980 to 31 October 1984\n4 years, 291 days\nThe first lady who served as PM for the second term\n9.\nRajiv Gandhi\n(1944–1991)\n31 October 1984 to 2 December 1989\n5 years, 32 days\nYoungest to become PM (40 years old)\n10.\nV. P. Singh\n(1931–2008)\n2 December 1989 to 10 November 1990\n343 days\nFirst PM to step down after a vote of no confidence\n11.\nChandra Shekhar\n(1927–2007)\n10 November 1990 to 21 June 1991\n223 days\nHe belongs to  Samajwadi Janata Party\n12.\nP. V. Narasimha Rao\n(1921–2004)\n21 June 1991 to 16 May 1996\n4 years, 330 days\nFirst PM from south India\n13.\nAtal Bihari Vajpayee\n(1924- 2018)\n16 May 1996 to 1 June 1996\n16 days\nPM for shortest tenure\n14.\nH. D. Deve Gowda\n(born 1933)\n1 June 1996 to 21 April 1997\n324 days\nHe belongs to  Janata Dal\n15.\nInder Kumar Gujral\n(1919–2012)\n21 April 1997 to 19 March 1998 \n332 days\n------\n16.\nAtal Bihari Vajpayee\n(1924-2018)\n19 March 1998 to 22 May 2004 \n6 years, 64 days\n The first non-congress PM who completed a full term as PM\n17.\nManmohan Singh\n(born 1932)\n22 May 2004 to 26 May 2014   \n10 years, 4 days\n First Sikh PM\n18.\nNarendra Modi\n(born 1950)\n26 May 2014 - Present\n4th Prime Minister of India who served two consecutive tenures"]

# TENTH QUESTION ANSWER

In [83]:
import pandas as pd 
import selenium

In [84]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [85]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [86]:
driver.get("https://www.motor1.com/")

In [87]:
son=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[3]/ul/li[3]/a")
son.click()

In [88]:
sony=driver.find_element(By.XPATH,"/html/body/div[3]/div[7]/div/div[1]/div[1]/div[2]/a/span")
sony.click()

In [92]:
nith=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a")
nith.click()

In [95]:
c_brand=[]
c_price=[]

In [97]:
brand_tags=driver.find_elements(By.XPATH,"//div[@class='subheader']")
for i in brand_tags[0:50]:
    brand=i.text
    c_brand.append(brand)

In [101]:
len(c_brand)

0

In [102]:
price_tags=driver.find_element(By.XPATH,"//div[@class='m1_MobileMPU adgrid-ad-target']")
for i in price_tags[0:50]:
    price=i.text
    c_price.append(price)

TypeError: 'WebElement' object is not subscriptable

# THIRD QUESTION ANSWER

In [527]:
import pandas as pd 
import selenium

In [528]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [529]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [530]:
driver.get("http://www.naukri.com/")

In [531]:
get=driver.find_element(By.CLASS_NAME,"suggestor-input ")
get.send_keys('Data Scientist')

In [533]:
jet=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[3]/div/input")
jet.send_keys('5')

In [534]:
bet=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
bet.send_keys('Delhi')

In [535]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [536]:
nan=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
nan.click()

In [538]:
job_tit=[]
job_loc=[]
com_name=[]
exp_req=[]

In [539]:
tit_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in tit_tags[0:10]:
    tit=i.text
    job_tit.append(tit)

In [540]:
len(job_tit)

10

In [541]:
loc_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in loc_tags[0:10]:
    loc=i.text
    job_loc.append(loc)

In [542]:
len(job_loc)

10

In [543]:
com_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in com_tags[0:10]:
    com=i.text
    com_name.append(com)

In [544]:
len(com_name)

10

In [546]:
exp_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")
for i in exp_tags[0:10]:
    exp=i.text
    exp_req.append(exp)

In [547]:
len(exp_req)

10

In [548]:
import pandas as pd
df=pd.DataFrame({"TITLES":job_tit,"LOCATION":job_loc,"COMPANY NAME":com_name,"EXPERIENCE REQURIED":exp_req})
df

,TITLES,LOCATION,COMPANY NAME,EXPERIENCE REQURIED
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Sr. Associate - QR Strats Analytics,Mumbai,Morgan Stanley,2-6 Yrs
2,Data Scientist,Bangalore/Bengaluru,Capgemini,3-5 Yrs
3,Senior Data Science and Analytics Strategy Con...,Bangalore/Bengaluru,Wells Fargo,5-7 Yrs
4,Smart Dispatcher,Bangalore/Bengaluru,Capgemini,6-9 Yrs
5,Data Scientist data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Smark Laser Automation,0-5 Yrs
6,Data Science/ ML freshers,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Cliqhr Recruitment Services,0-1 Yrs
7,MACHINE LEARNING / DATA SCIENCE TRAINER,Bangalore/Bengaluru,Ethnotech Academy,2-5 Yrs
8,Data Science Professional,Bangalore/Bengaluru,Infosys,4-6 Yrs
9,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs