In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\kalya\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\kalya\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kalya\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kalya\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\kalya\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\kalya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\kalya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kalya\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kalya\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kalya\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [38]:
import requests
from bs4 import BeautifulSoup


url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
req = requests.get(url)


soup = BeautifulSoup(req.content, 'html.parser')


table = soup.find('table', {'class': 'wikitable sortable'})


rows = table.find_all('tr')[1:]


for row in rows:
    cells = row.find_all('td')
    rank = cells[0].text.strip()
    name = cells[1].text.strip()
    artist = cells[2].text.strip()
    upload_date = cells[4].text.strip()
    views = cells[3].text.strip()
    
    
    print(f"Rank: {rank}")
    print(f"Name: {name}")
    print(f"Artist: {artist}")
    print(f"Upload date: {upload_date}")
    print(f"Views: {views}")
import pandas as pd
df=pd.DataFrame(f"Rank: {rank}"
               f"Name: {name}"
               f"Artist: {artist}"
               f"Views: {views}")
print(df)

Rank: 1.
Name: "Baby Shark Dance"[4]
Artist: Pinkfong Baby Shark - Kids' Songs & Stories
Upload date: June 17, 2016
Views: 12.37
Rank: 2.
Name: "Despacito"[7]
Artist: Luis Fonsi
Upload date: January 12, 2017
Views: 8.09
Rank: 3.
Name: "Johny Johny Yes Papa"[14]
Artist: LooLoo Kids
Upload date: October 8, 2016
Views: 6.63
Rank: 4.
Name: "Bath Song"[15]
Artist: Cocomelon ‚Äì Nursery Rhymes
Upload date: May 2, 2018
Views: 6.03
Rank: 5.
Name: "Shape of You"[16]
Artist: Ed Sheeran
Upload date: January 30, 2017
Views: 5.92
Rank: 6.
Name: "See You Again"[18]
Artist: Wiz Khalifa
Upload date: April 6, 2015
Views: 5.79
Rank: 7.
Name: "Phonics Song with Two Words"[23]
Artist: ChuChu TV
Upload date: March 6, 2014
Views: 5.17
Rank: 8.
Name: "Wheels on the Bus"[24]
Artist: Cocomelon ‚Äì Nursery Rhymes
Upload date: May 24, 2018
Views: 4.95
Rank: 9.
Name: "Uptown Funk"[25]
Artist: Mark Ronson
Upload date: November 19, 2014
Views: 4.84
Rank: 10.
Name: "Learning Colors ‚Äì Colorful Eggs on a Farm"[26]
Artist: Miroshka TV
Upload date: February 27, 2018
Views: 4.83
Rank: 11.
Name: "Gangnam Style"[27]
Artist: Psy
Upload date: July 15, 2012
Views: 4.70
Rank: 12.
Name: "Masha and the Bear ‚Äì Recipe for Disaster"[32]
Artist: Get Movies
Upload date: January 31, 2012
Views: 4.53
Rank: 13.
Name: "Dame Tu Cosita"[33]
Artist: El Chombo
Upload date: April 5, 2018
Views: 4.24
Rank: 14.
Name: "Sugar"[34]
Artist: Maroon 5
Upload date: January 14, 2015
Views: 3.82
Rank: 15.
Name: "Axel F"[35]
Artist: Crazy Frog
Upload date: June 16, 2009
Views: 3.76
Rank: 16.
Name: "Roar"[36]
Artist: Katy Perry
Upload date: September 5, 2013
Views: 3.73
Rank: 17.
Name: "Counting Stars"[37]
Artist: OneRepublic
Upload date: May 31, 2013
Views: 3.73
Rank: 18.
Name: "Sorry"[38]
Artist: Justin Bieber
Upload date: October 22, 2015
Views: 3.63
Rank: 19.
Name: "Thinking Out Loud"[39]
Artist: Ed Sheeran
Upload date: October 7, 2014
Views: 3.55
Rank: 20.
Name: "Baa Baa Black Sheep"[40]
Artist: Cocomelon ‚Äì Nursery Rhymes
Upload date: June 25, 2018
Views: 3.51
Rank: 21.
Name: "Waka Waka (This Time for Africa)"[41]
Artist: Shakira
Upload date: June 4, 2010
Views: 3.48
Rank: 22.
Name: "Dark Horse"[42]
Artist: Katy Perry
Upload date: February 20, 2014
Views: 3.45
Rank: 23.
Name: "Faded"[43]
Artist: Alan Walker
Upload date: December 3, 2015
Views: 3.41
Rank: 24.
Name: "Let Her Go"[44]
Artist: Passenger
Upload date: July 25, 2012
Views: 3.38
Rank: 25.
Name: "Girls Like You"[45]
Artist: Maroon 5
Upload date: May 31, 2018
Views: 3.37
Rank: 26.
Name: "Perfect"[46]
Artist: Ed Sheeran
Upload date: November 9, 2017
Views: 3.37
Rank: 27.
Name: "Bailando"[47]
Artist: Enrique Iglesias
Upload date: April 11, 2014
Views: 3.34
Rank: 28.
Name: "Lean On"[48]
Artist: Major Lazer
Upload date: March 22, 2015
Views: 3.33
Rank: 29.
Name: "Lakdi Ki Kathi"[49]
Artist: Jingle Toons
Upload date: June 14, 2018
Views: 3.32
Rank: 30.
Name: "Humpty the train on a fruits ride"[50]
Artist: Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs
Upload date: January 26, 2018
Views: 3.31

IndexError: list index out of range

# SECOND QUESTION ANSWER

In [52]:
import pandas as pd 
import selenium
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [53]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [54]:
driver = webdriver.Chrome()

In [55]:
driver.get("http://www.bcci.tv/")

In [56]:
kal=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
kal.click()

In [57]:
m_tit=[]
m_pla=[]
m_dat=[]
m_tim=[]

In [58]:
tit_tags=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
for i in tit_tags[0:]:
    tit=i.text
    m_tit.append(tit)

In [59]:
len(m_tit)

6

In [73]:
m_tit

['AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'Lunch break',
 '(167.2 ov)',
 'AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23']

In [61]:
pla_tags=driver.find_elements(By.XPATH,"//span[@class='ng-binding ng-scope']")
for i in pla_tags[0:]:
    pla=i.text
    m_pla.append(pla)

In [63]:
len(m_pla)

5

In [64]:
m_pla

['(131.0 ov)',
 'Narendra Modi Stadium,',
 'Wankhede Stadium,',
 'Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,',
 'MA Chidambaram Stadium,']

In [69]:
dat_tags=driver.find_elements(By.XPATH,"//div[@class='match-card-left match-schedule']")
for i in dat_tags[0:]:
    dat=i.text
    
    m_dat.append(dat)

In [70]:
m_dat

['9 MAR 2023', '17 MAR 2023', '19 MAR 2023', '22 MAR 2023']

In [71]:
tim_tags=driver.find_elements(By.XPATH,"//div[@class='match-card-right match-schedule ']")
for i in tim_tags[0:]:
    tim=i.text
    m_tim.append(tim)

In [72]:
m_tim

['LIVE', '1:30 PM IST', '1:30 PM IST', '1:30 PM IST']

In [74]:
df=pd.DataFrame({"MATCH TITLE":m_tit[3:6],
                "DATE":m_dat[1:4],
                "TIME":m_tim[1:4],
                "PLACE":m_pla[2:5]})
df

,MATCH TITLE,DATE,TIME,PLACE
0,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,17 MAR 2023,1:30 PM IST,"Wankhede Stadium,"
1,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,19 MAR 2023,1:30 PM IST,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,"
2,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,22 MAR 2023,1:30 PM IST,"MA Chidambaram Stadium,"

# THIRD QUESTION ANSWER

In [126]:
import pandas as pd 
import selenium
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [127]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [128]:
driver = webdriver.Chrome()

In [129]:
driver.get("http://statisticstimes.com/")

In [130]:
son=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
son.click()

In [132]:
nit=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
nit.click()

In [133]:
s_ran=[]
s_sta=[]
s_cp19=[]
s_cp20=[]
s_sha=[]
s_gdp=[]

In [134]:
ran_tags=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]")
for i in ran_tags[0:33]:
    ran=i.text
    s_ran.append(ran)

In [135]:
len(s_ran)

33

In [136]:
sta_tags=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]")
for i in sta_tags[0:33]:
    sta=i.text
    s_sta.append(sta)

In [137]:
len(s_sta)

33

In [138]:
cp19_tags=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]")
for i in cp19_tags[0:33]:
    cp19=i.text
    s_cp19.append(cp19)

In [139]:
len(s_cp19)

33

In [140]:
cp20_tags=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]")
for i in cp20_tags[0:33]:
    cp20=i.text
    s_cp20.append(cp20)

In [141]:
len(s_cp20)

33

In [142]:
sha_tags=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]")
for i in sha_tags[0:33]:
    sha=i.text
    s_sha.append(sha)

In [143]:
len(s_sha)

33

In [144]:
gdp_tags=driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]")
for i in gdp_tags[0:33]:
    gdp=i.text
    s_gdp.append(gdp)

In [145]:
len(s_gdp)

33

In [146]:
df=pd.DataFrame({"Rank":s_ran,"State":s_sta,"GSDP(18-19)- at current prices":s_cp19,
               "GSDP(19-20)- at current prices":s_cp20,"Share(18-19)":s_sha,
               " GDP($ billion)":s_gdp})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# FOURTH QUESTION ANSWER

In [122]:
import pandas as pd 
import selenium
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [123]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [124]:
driver = webdriver.Chrome()

In [125]:
driver.get("https://github.com/")

In [126]:
sam=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
sam.click()

In [130]:
r_urls=[]
r_tit=[]
r_des=[]
r_con=[]
r_lan=[]

In [133]:
tit_tags=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in tit_tags[0:]:
    tit=i.text
    r_tit.append(tit)

In [134]:
len(r_tit)

24

In [144]:
des_tags=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in des_tags[0:]:
    des=i.text
    r_des.append(des)

In [145]:
len(r_des)

23

In [147]:
con_tags=driver.find_elements(By.XPATH,"//span[@class='d-inline-block mr-3']")
for i in con_tags[0:]:
    con=i.text
    r_con.append(con)

In [148]:
len(r_con)

24

In [150]:
lan_tags=driver.find_elements(By.XPATH,"//span[@itemprop='programmingLanguage']")
for i in lan_tags[0:]:
    lan=i.text
    r_lan.append(lan)

In [151]:
len(r_lan)

23

In [153]:
df=pd.DataFrame({"Repository title":r_tit[0:22],"Repository description":r_des[0:22],
                "Contributors count":r_con[0:22],"Language used":r_lan[0:22]})
df

,Repository title,Repository description,Contributors count,Language used
0,tatsu-lab /,Code and documentation to train Stanford's Alp...,Built by,Python
1,ggerganov /,Port of Facebook's LLaMA model in C/C++,Built by,C
2,togethercomputer /,Use ChatGPT to summarize the arXiv papers.,Built by,Python
3,kaixindelele /,SQL Translator is a tool for converting natura...,Built by,Python
4,whoiskatrin /,An open-source ChatGPT app with a voice,Built by,TypeScript
5,cogentapps /,"A high-performance, zero-overhead, extensible ...",Built by,TypeScript
6,exaloop /,A powerful and modular stable diffusion GUI wi...,Built by,C++
7,comfyanonymous /,Everything required to run your own Base node,Built by,Python
8,base-org /,üï∏ Web apps in pure Python üêç,Built by,Shell
9,pynecone-io /,Create your own ChatGPT App in seconds.,Built by,Python
10,futantan /,Examples and guides for using the OpenAI API,Built by,TypeScript
11,openai /,A simple and open-source proxy API that allows...,Built by,Jupyter Notebook
12,ayaka14732 /,[CVPR'23] Universal Instance Perception as Obj...,Built by,JavaScript
13,MasterBin-IIAU /,The simplest way to run LLaMA on your local ma...,Built by,Python
14,cocktailpeanut /,"Code and models for the paper ""One Transformer...",Built by,JavaScript
15,thu-ml /,ËøôÂÑøÊî∂ÈõÜ‰∫Ü‰∏Ä‰∫õÂÖçË¥πÂ•ΩÁî®ÁöÑChatGPTÈïúÂÉèÁ´ô ÂΩìÂâçÔºö60‰∏™Á´ôÁÇπ,Built by,Python
16,xx025 /,Display and control your Android device,Built by,C
17,Genymobile /,üÜô Upscayl - Free and Open Source AI Image Upsc...,Built by,TypeScript
18,upscayl /,ÊãºÂ§öÂ§ö‰∫ã‰ª∂ÁöÑËÑ±Â£≥ÂêéÁöÑÈÉ®ÂàÜ‰ª£Á†Å,Built by,C
19,poorjobless /,A CLI tool to get help with CLI tools üêô,Built by,Rust
20,orhun /,Reverse engineered API of Microsoft's Bing Chat,Built by,Python
21,acheong08 /,High-performance GPGPU inference of OpenAI's W...,Built by,C++

# SIXTH QUESTION ANSWER

In [47]:
import pandas as pd 
import selenium
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [48]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [49]:
driver = webdriver.Chrome()

In [50]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [51]:
b_nam=[]
b_aut=[]
b_vol=[]
b_pub=[]
b_gen=[]

In [52]:
nam_tags=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in nam_tags[0:]:
    nam=i.text
    b_nam.append(nam)

In [53]:
len(b_nam)

100

In [55]:
aut_tags=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in aut_tags[0:]:
    aut=i.text
    b_aut.append(aut)

In [57]:
len(b_aut)

100

In [58]:
vol_tags=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in vol_tags[0:]:
    vol=i.text
    b_vol.append(vol)

In [59]:
len(b_vol)

100

In [60]:
pub_tags=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in pub_tags[0:]:
    pub=i.text
    b_pub.append(pub)

In [61]:
len(b_pub)

100

In [62]:
gen_tags=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in gen_tags[0:]:
    gen=i.text
    b_gen.append(gen)

In [63]:
len(b_gen)

100

In [66]:
df=pd.DataFrame({"Book name": b_nam,"Author name":b_aut,"Volumes sold":b_vol,"Publisher":b_pub,
               "Genre":b_gen})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# SEVENTH QUESTION ANSWER

In [186]:
import pandas as pd 
import selenium
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [187]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [188]:
driver = webdriver.Chrome()

In [189]:
driver.get("http://www.imdb.com/list/ls095964455/")

In [190]:
m_nam=[]
m_yea=[]
m_gen=[]
m_run=[]
m_rat=[]
m_vot=[]

In [191]:
try:
    yea_tags=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
    for i in yea_tags[0:]:
        yea=i.text
        m_yea.append(yea)
        
except:
    yea = "-"
    m_yea.append(yea)

In [192]:
len(m_yea)

100

In [193]:
try:
    run_tags=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in run_tags[0:]:
        run=i.text
        m_run.append(run)
except:
    run = "-"
    m_run.append(run)

In [194]:
len(m_run)

100

In [195]:
try:
    rat_tags=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-widget']")
    for i in rat_tags[0:]:
        rat=i.text
        m_rat.append(rat)
except:
    rat = "-"
    m_rat.append(rat)

In [196]:
len(m_rat)

100

In [197]:
try:
    gen_tags=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in gen_tags[0:]:
        gen=i.text
        m_gen.append(gen)
except:
    gen = "-"
    m_gen.append(gen)

In [198]:
len(m_gen)

100

In [199]:
try:
    vot_tags=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in vot_tags[0:]:
        vot=i.text
        m_vot.append(vot)
except:
    vot = "-"
    m_vot.append(vot)

In [200]:
len(m_vot)

100

In [201]:
try:
    nam_tags=driver.find_elements(By.XPATH,"//div[@class='lister-item-content']/h3/a")
    for i in nam_tags[0:]:
        nam=i.text
        m_nam.append(nam)
except:
    nam = "-"
    m_nam.append(nam)

In [202]:
len(m_nam)

100

In [206]:
df=pd.DataFrame({"Name":m_nam,"Year span":m_yea,"Genre":m_gen,
                "Run time":m_run,"Rating":m_rat,
                "Votes":m_vot})
df

,Name,Year span,Genre,Run time,Rating,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2\nRate,"2,137,023"
1,Stranger Things,(2016‚Äì2024),"Drama, Fantasy, Horror",51 min,8.7\nRate,"1,222,141"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1\nRate,"1,014,430"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5\nRate,"298,853"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6\nRate,"257,723"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4\nRate,"50,995"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8\nRate,"62,997"
97,Criminal Minds,(2005‚Äì ),"Crime, Drama, Mystery",42 min,8.1\nRate,"204,782"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1\nRate,"42,395"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6\nRate,"253,368"

# EIGHT QUESTION ANSWER

In [281]:
import pandas as pd 
import selenium
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [282]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver = webdriver.Chrome()

In [284]:
driver.get("https://archive.ics.uci.edu/")

In [285]:
jes=driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td/span/b/a")
jes.click()

In [286]:
d_typ=[]
d_nam=[]
d_att=[]
d_tas=[]
d_ins=[]
d_yea=[]
d_noa=[]

In [287]:
nam_tags=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[1]")
for i in nam_tags[0:]:
    nam=i.text
    d_nam.append(nam)

In [288]:
len(d_nam)

623

In [289]:
typ_tags=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[2]")
for i in typ_tags[0:]:
    typ=i.text
    d_typ.append(typ)

In [290]:
len(d_typ)

623

In [291]:
tas_tags=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[3]")
for i in tas_tags[0:]:
    tas=i.text
    d_tas.append(tas)

In [292]:
len(d_tas)

623

In [293]:
att_tags=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[4]")
for i in att_tags[0:]:
    att=i.text
    d_att.append(att)

In [294]:
len(d_att)

623

In [295]:
try:
    
    ins_tags=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[5]")
    for i in ins_tags[0:]:
        ins=i.text
        d_ins.append(ins)
except:
    ins = "-"
    d_ins.append(ins)

In [296]:
len(d_ins)

623

In [297]:
noa_tags=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[6]")
for i in noa_tags[0:]:
    noa=i.text
    d_noa.append(noa)

In [298]:
len(d_noa)

623

In [299]:
yea_tags=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[7]")
for i in yea_tags[0:]:
    yea=i.text
    d_yea.append(yea)

In [300]:
len(d_yea)

623

In [301]:
df=pd.DataFrame({"Dataset name":d_nam,"Data type":d_typ,"Task":d_tas,
                "Attribute type":d_att,") No of instances":d_ins,
                "No of attribute":d_noa,"Year":d_yea})
df

,Dataset name,Data type,Task,Attribute type,) No of instances,No of attribute,Year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

# NINTH QUESTION ANSWER

In [65]:
import pandas as pd 
import selenium
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [66]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [67]:
driver = webdriver.Chrome()

In [68]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [69]:
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search.send_keys("Data science ")

In [70]:
search_but=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search_but.click()

In [71]:
j_nam=[]
j_des=[]
j_ski=[]
j_com=[]
j_loc=[]

In [72]:
nam_tags=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
for i in nam_tags[0:]:
    nam=i.text
    j_nam.append(nam)

In [73]:
len(j_nam)

50

In [74]:
des_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
for i in des_tags[0:]:
    des=i.text
    j_des.append(des)

In [75]:
len(j_des)

50

In [76]:
ski_tags=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
for i in ski_tags[0:]:
    ski=i.text
    j_ski=i.text

In [77]:
len(j_ski)

155

In [78]:
j_ski

'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics'

In [79]:
com_tags=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")
for i in com_tags[0:]:
    com=i.text
    j_com.append(com)

In [80]:
len(j_com)

100

In [84]:
loc_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis']")
for i in loc_tags[0:]:
    loc=i.text
    j_loc.append(loc)

In [86]:
df=pd.DataFrame({"Name":j_nam[0:50]," Designation":j_des[0:50],"Company":j_com[0:50],"Skills they hire for":j_ski[0:50]})
df

,Name,Designation,Company,Skills they hire for
0,Aakash Harit,HR Manager,Aakash Harit,"Software Development, Core Java, Unit Testing,..."
1,shravan Kumar Gaddam,Company Recruiter,Data Science Network,"Software Development, Core Java, Unit Testing,..."
2,MARSIAN Technologies LLP,Company HR,shravan Kumar Gaddam,"Software Development, Core Java, Unit Testing,..."
3,Anik Agrawal,Company Recruiter,Shore Infotech India Pvt. Ltd,"Software Development, Core Java, Unit Testing,..."
4,subhas patel,Founder CEO,MARSIAN Technologies LLP,"Software Development, Core Java, Unit Testing,..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,MARSIAN Technologies LLP,"Software Development, Core Java, Unit Testing,..."
6,Institute for Financial Management and Resear,Programme Manager,Anik Agrawal,"Software Development, Core Java, Unit Testing,..."
7,Balu Ramesh,HR Administrator,Enerlytics Software Solutions Pvt Ltd,"Software Development, Core Java, Unit Testing,..."
8,Asif Lucknowi,Director,subhas patel,"Software Development, Core Java, Unit Testing,..."
9,InstaFinancials,Human Resource,LibraryXProject,"Software Development, Core Java, Unit Testing,..."
10,Kalpana Dumpala,Executive Hiring,Abhishek - Only Analytics Hiring - India and,"Software Development, Core Java, Unit Testing,..."
11,Mubarak,Company HR,Apidel Technologies Division of Transpower,"Software Development, Core Java, Unit Testing,..."
12,Kushal Rastogi,Company HR,Institute for Financial Management and Resear,"Software Development, Core Java, Unit Testing,..."
13,Mahesh Babu Channa,HR Team Lead,IFMR,"Software Development, Core Java, Unit Testing,..."
14,Priyanka Akiri,HR Manager,Balu Ramesh,"Software Development, Core Java, Unit Testing,..."
15,Kapil Devang,HR Manager,Techvantage Systems Pvt Ltd,"Software Development, Core Java, Unit Testing,..."
16,Vaishnavi Kudalkar,HR Executive,Asif Lucknowi,"Software Development, Core Java, Unit Testing,..."
17,Sakshi Chhikara,Assistant Manager HR,Weupskill- Live Wire India,"Software Development, Core Java, Unit Testing,..."
18,Ruchi Dhote,Senior Executive Talent Acquisition,InstaFinancials,"Software Development, Core Java, Unit Testing,..."
19,Manisha Yadav,HR Executive,CBL Data Science Private Limited,"Software Development, Core Java, Unit Testing,..."
20,Riya Rajesh,Manager Talent Acquisition,Kalpana Dumpala,"Software Development, Core Java, Unit Testing,..."
21,Rashmi Bhattacharjee,HR Head,Innominds Software,"Software Development, Core Java, Unit Testing,..."
22,Faizan Kareem,HR MANAGER,Mubarak,"Software Development, Core Java, Unit Testing,..."
23,Rithika dadwal,HR Recruiter,MoneyTap,"Software Development, Core Java, Unit Testing,..."
24,Sandhya Khandagale,HR Recruiter,Kushal Rastogi,"Software Development, Core Java, Unit Testing,..."
25,Shaun Rao,Manager Human Resources,QuantMagnum Technologies Pvt. Ltd.,"Software Development, Core Java, Unit Testing,..."
26,Deeparchi Sharma,Company Recruiter,Mahesh Babu Channa,"Software Development, Core Java, Unit Testing,..."
27,Azahar Shaikh,Company Recruiter,SocialPrachar.com,"Software Development, Core Java, Unit Testing,..."
28,Manas,Lead Talent acquisition,Priyanka Akiri,"Software Development, Core Java, Unit Testing,..."
29,kumar,Proprietor,Infinitive Software Solutions,"Software Development, Core Java, Unit Testing,..."
30,Sunil Vedula,CEO,Kapil Devang,"Software Development, Core Java, Unit Testing,..."
31,Rajat Kumar,Founder CEO,BISP Solutions,"Software Development, Core Java, Unit Testing,..."
32,Dhruv Dev Dubey,Company Recruitment Head,Vaishnavi Kudalkar,"Software Development, Core Java, Unit Testing,..."
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,Codeachive learning,"Software Development, Core Java, Unit Testing,..."
34,Jayanth N,Project Manager,Sakshi Chhikara,"Software Development, Core Java, Unit Testing,..."
35,Avodha,Business Development Associate,BIZ INFOTECNO PRIVATE LIMITED,"Software Development, Core Java, Unit Testing,..."
36,Priya Khare,Senior Manager,Ruchi Dhote,"Software Development, Core Java, Unit Testing,..."
37,Amit Sharma,Consultant,Bristlecone India Ltd,"Software Development, Core Java, Unit Testing,..."
38,Kanan,senior technology instructor,Manisha Yadav,"Software Development, Core Java, Unit Testing,..."
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,Easi Tax,"Software Development, Core Java, Unit Testing,..."
40,Brad,"Manager, Technical Recruiting",Riya Rajesh,"Software Development, Core Java, Unit Testing,..."
41,Rutuja Pawar,Technical Recruiter,Novelworx Digital Solutions,"Software Development, Core Java, Unit Testing,..."
42,Madhusudhan Sridhar,Erp Implementer,Rashmi Bhattacharjee,"Software Development, Core Java, Unit Testing,..."
43,Ankit Sinha,Head Analytics,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Software Development, Core Java, Unit Testing,..."
44,Gaurav Chouhan,Chief Technical Officer,Faizan Kareem,"Software Development, Core Java, Unit Testing,..."
45,Rashi Kacker,Sr Product Manager,FirstTech Consaltants Pvt.Ltd,"Software Development, Core Java, Unit Testing,..."
46,Ashwini,Director Global Delivery,Rithika dadwal,"Software Development, Core Java, Unit Testing,..."
47,Balaji Kolli,Co Founder,Affine Analytics,"Software Development, Core Java, Unit Testing,..."
48,Rajani Nagaraj,HR Manager,Sandhya Khandagale,"Software Development, Core Java, Unit Testing,..."
49,ROHIT Kumar,Architect,Compumatrice Multimedia Pvt Ltd,"Software Development, Core Java, Unit Testing,..."

# FIFTH QUESTION ANSWER

In [253]:
import pandas as pd 
import selenium
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [254]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [255]:
driver = webdriver.Chrome()

In [256]:
driver.get("https://www.billboard.com/")

In [257]:
sab=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
sab.click()

In [270]:
son=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
son.click()

In [271]:
s_nam=[]
s_art=[]
s_las=[]
s_pea=[]
s_wee=[]

In [272]:
nam_tags=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']//h3")
for i in nam_tags[0:]:
    nam=i.text
    s_nam.append(nam)

In [273]:
len(s_nam)

100

In [274]:
art_tags=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[1]/span")
for i in art_tags[0:]:
    art=i.text
    s_art.append(art)

In [275]:
len(s_art)

100

In [276]:

    las_tags=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[5]//span")
    for i in las_tags[0:]:
        las=i.text
        s_las.append(las)

In [277]:
len(s_las)

100

In [278]:

try:
    pea_tags=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[6]/span")
    for i in pea_tags[0:]:
        pea=i.text
        s_pea.append(pea)
except:
    pea = "-"
    s_pea.append(pea)

In [279]:
len(s_pea)

100

In [282]:
wee_tags=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[7]/span")
for i in wee_tags[0:]:
    wee=i.text
    s_wee.append(wee)

In [283]:
len(s_wee)

0

In [284]:
df=pd.DataFrame({" Song name":s_nam,"Artist name":s_art,"Last week rank":s_las,"Peak rank":s_pea})
df

,Song name,Artist name,Last week rank,Peak rank
0,Last Night,Morgan Wallen,,
1,Flowers,Miley Cyrus,,
2,Kill Bill,SZA,,
3,Die For You,The Weeknd & Ariana Grande,,
4,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,,
...,...,...,...,...
95,Nonsense,Sabrina Carpenter,,
96,AMG,"Gabito Ballesteros, Peso Pluma & Natanael Cano",,
97,Lift Me Up,Rihanna,,
98,You Didn't,Brett Young,,
99,10:35,Tiesto Featuring Tate McRae,,