In [1]:
# Write a python program to display all the header tags from wikipedia.org and make data frame.

In [2]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\kalya\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\kalya\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\kalya\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install requests

Requirement already satisfied: requests in c:\users\kalya\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kalya\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kalya\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kalya\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\kalya\anaconda3\lib\site-packages (from requests) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
web = ('https://en.wikipedia.org/wiki/Main_Page')

In [6]:
k = requests.get(web)

In [7]:
wik = BeautifulSoup(k.content, 'html.parser')

In [8]:
header_tags = wik.find_all(['h1','h2','h3','h4','h5','h6'])

In [9]:
header_texts = []

In [10]:
for header_tag in header_tags:
    header_texts.append(header_tag.text)

In [11]:
df = pd.DataFrame(header_texts, columns=['Header Text'])

In [12]:
print(df)

                     Header Text
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

In [13]:
#2) Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) 
#and make data frame

In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = "https://www.imdb.com/chart/top"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")


movies = soup.find_all("td", class_="titleColumn")


movies_list = []


for movie in movies:
    movie_title = movie.a.text
    movie_year = movie.span.text
    
    movies_list.append((movie_title, movie_year, ))


df = pd.DataFrame(movies_list, columns=["Title", "Year"])


print(df.head(50))

                                                Title    Year
0                            The Shawshank Redemption  (1994)
1                                       The Godfather  (1972)
2                                     The Dark Knight  (2008)
3                               The Godfather Part II  (1974)
4                                        12 Angry Men  (1957)
5                                    Schindler's List  (1993)
6       The Lord of the Rings: The Return of the King  (2003)
7                                        Pulp Fiction  (1994)
8   The Lord of the Rings: The Fellowship of the Ring  (2001)
9                     Il buono, il brutto, il cattivo  (1966)
10                                       Forrest Gump  (1994)
11                                         Fight Club  (1999)
12              The Lord of the Rings: The Two Towers  (2002)
13                                          Inception  (2010)
14                            The Empire Strikes Back  (1980)
15                                         The Matrix  (1999)
16                                         GoodFellas  (1990)
17                    One Flew Over the Cuckoo's Nest  (1975)
18                                              Se7en  (1995)
19                               Shichinin no samurai  (1954)
20                              It's a Wonderful Life  (1946)
21                           The Silence of the Lambs  (1991)
22                                     Cidade de Deus  (2002)
23                                Saving Private Ryan  (1998)
24                                       Interstellar  (2014)
25                                    La vita è bella  (1997)
26                                     The Green Mile  (1999)
27                                          Star Wars  (1977)
28                         Terminator 2: Judgment Day  (1991)
29                                 Back to the Future  (1985)
30                      Sen to Chihiro no kamikakushi  (2001)
31                                        The Pianist  (2002)
32                                             Psycho  (1960)
33                                       Gisaengchung  (2019)
34                                               Léon  (1994)
35                                      The Lion King  (1994)
36                                          Gladiator  (2000)
37                                 American History X  (1998)
38                                       The Departed  (2006)
39                                 The Usual Suspects  (1995)
40                                       The Prestige  (2006)
41                                           Whiplash  (2014)
42                                         Casablanca  (1942)
43                                            Seppuku  (1962)
44                                     Hotaru no haka  (1988)
45                                   The Intouchables  (2011)
46                                       Modern Times  (1936)
47                       Once Upon a Time in the West  (1968)
48                                        Rear Window  (1954)
49                              Nuovo Cinema Paradiso  (1988)

In [15]:
#Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of 
#release) and make data frame.

In [16]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = "https://www.imdb.com/india/top-rated-indian-movies/"
response = requests.get(url)


soup = BeautifulSoup(response.text, "html.parser")

movie_table = soup.find("tbody", class_="lister-list")


movie_data = []
for row in movie_table.find_all("tr"):
    movie_dict = {}
    title_column = row.find("td", class_="titleColumn")
    movie_dict["title"] = title_column.a.text
    movie_dict["year"] = title_column.span.text[1:5]
    movie_dict["rating"] = row.find("td", class_="ratingColumn imdbRating").strong.text
    movie_data.append(movie_dict)

df = pd.DataFrame(movie_data)

print(df.head(50))

                                  title  year rating
0   Ramayana: The Legend of Prince Rama  1993    8.5
1            Rocketry: The Nambi Effect  2022    8.4
2                               Nayakan  1987    8.4
3                              Gol Maal  1979    8.4
4                            Anbe Sivam  2003    8.4
5                           777 Charlie  2022    8.4
6                              Jai Bhim  2021    8.4
7                     Pariyerum Perumal  2018    8.4
8                              3 Idiots  2009    8.4
9                           Apur Sansar  1959    8.4
10                     Manichitrathazhu  1993    8.4
11                                #Home  2021    8.3
12                      Soorarai Pottru  2020    8.3
13                         Black Friday  2004    8.3
14                    Kumbalangi Nights  2019    8.3
15                    C/o Kancharapalem  2018    8.3
16                     Taare Zameen Par  2007    8.3
17                             Kireedam  1989    8.3
18                               Dangal  2016    8.3
19                               Kaithi  2019    8.3
20                               Jersey  2019    8.3
21                                   96  2018    8.3
22                          Maya Bazaar  1957    8.2
23                            Natsamrat  2016    8.2
24                               Asuran  2019    8.2
25                           Drishyam 2  2021    8.2
26                           Sita Ramam  2022    8.2
27                         Thevar Magan  1992    8.2
28                           Visaaranai  2015    8.2
29                  Sarpatta Parambarai  2021    8.2
30                           Thalapathi  1991    8.2
31                      Pather Panchali  1955    8.2
32                         Nadodikkattu  1987    8.2
33                             Drishyam  2013    8.2
34                   Jaane Bhi Do Yaaro  1983    8.2
35                         Thani Oruvan  2015    8.2
36                         Sardar Udham  2021    8.2
37                            Aparajito  1956    8.2
38                         Vada Chennai  2018    8.2
39                    Khosla Ka Ghosla!  2006    8.2
40                              Anniyan  2005    8.1
41                             Ratsasan  2018    8.1
42                        Chupke Chupke  1975    8.1
43                   Gangs of Wasseypur  2012    8.1
44                              Peranbu  2018    8.1
45                             Drishyam  2015    8.1
46                             Mahanati  2018    8.1
47                       Bangalore Days  2014    8.1
48                                Satya  1998    8.1
49          Agent Sai Srinivasa Athreya  2019    8.1

In [17]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 OD

In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

response = requests.get(url)


if response.status_code == 200:
    
    soup = BeautifulSoup(response.content, 'html.parser')
    
    
    table = soup.find('table', {'class': 'table'})
    
    
    headers = [header.text for header in table.find_all('th')]
    
    
    rows = []
    for row in table.find_all('tr'):
        rows.append([val.text for val in row.find_all('td')])
    
    df = pd.DataFrame(rows, columns=headers)
    
    
    print(df.head(11))

     Pos             \nTeam\nT\n \nMatches\nM\n \nPoints\nP\n  \
0   None                    None           None          None
1      1        \n\nIndia\nIND\n             44         5,010
2      2    \n\nAustralia\nAUS\n             32         3,572
3      3   \n\nNew Zealand\nNZ\n             29         3,229
4      4      \n\nEngland\nENG\n             33         3,656
5      5     \n\nPakistan\nPAK\n             25         2,649
6      6  \n\nSouth Africa\nSA\n             27         2,775
7      7   \n\nBangladesh\nBAN\n             33         3,129
8      8     \n\nSri Lanka\nSL\n             34         2,976
9      9  \n\nAfghanistan\nAFG\n             20         1,419
10    10   \n\nWest Indies\nWI\n             41         2,902

                                        \nRating\nR\n
0                                                None
1   \n                            114\n           ...
2                                                 112
3                                                 111
4                                                 111
5                                                 106
6                                                 103
7                                                  95
8                                                  88
9                                                  71
10                                                 71

In [19]:
#b) Top 10 ODI Batsmen along with the records of their team andrating

In [20]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"
response = requests.get(url)


soup = BeautifulSoup(response.content, "html.parser")


rankings_table = soup.find("table", attrs={"class": "table"})


players = []
for row in rankings_table.find_all("tr"):
    player_info = {}
    cols = row.find_all("td")
    if len(cols) > 2:
        player_info["rank"] = cols[0].text.strip()
        player_info["name"] = cols[1].text.strip()
        player_info["team"] = cols[2].text.strip()
        player_info["rating"] = cols[3].text.strip()
        players.append(player_info)


df = pd.DataFrame(players)

print(df.head(11))

                                                rank                   name  \
0       2\n                                \n\n\n(0)  Rassie van der Dussen
1  3\n                                \n\n\n\n\n(...           David Warner
2  4\n                                \n\n\n\n\n(...        Quinton de Kock
3       5\n                                \n\n\n(0)            Imam-ul-Haq
4       6\n                                \n\n\n(0)           Shubman Gill
5       7\n                                \n\n\n(0)            Virat Kohli
6       8\n                                \n\n\n(0)            Steve Smith
7       9\n                                \n\n\n(0)           Rohit Sharma
8      10\n                                \n\n\n(0)        Kane Williamson

  team rating
0   SA    787
1  AUS    747
2   SA    743
3  PAK    740
4  IND    734
5  IND    727
6  AUS    719
7  IND    719
8   NZ    700

In [21]:
#c) Top 10 ODI bowlers along with the records of their team andrating

In [22]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
r = requests.get(url)


soup = BeautifulSoup(r.content, "html.parser")


table = soup.find("table", {"class": "table"})


headers = [header.text for header in table.find_all("th")]


rows = []
for row in table.find_all("tr"):
    rows.append([cell.text for cell in row.find_all("td")])


df = pd.DataFrame(rows, columns=headers)

#
print(df.head(10))

                                                 Pos  \
0                                               None
1  \n\n\n                            1\n         ...
2  \n\n\n                                    2\n ...
3  \n\n\n                                    3\n ...
4  \n\n\n                                    4\n ...
5  \n\n\n                                    5\n ...
6  \n\n\n                                    6\n ...
7  \n\n\n                                    7\n ...
8  \n\n\n                                    8\n ...
9  \n\n\n                                    9\n ...

                                 Player           Team   Rating  \
0                                  None           None     None
1  \n\n\n\n\n\n\n\nMohammed Siraj\n\n\n  \n\n\nIND\n\n  \n729\n
2                    \nJosh Hazlewood\n      \n\nAUS\n      727
3                       \nTrent Boult\n       \n\nNZ\n      708
4                    \nMitchell Starc\n      \n\nAUS\n      665
5                       \nRashid Khan\n      \n\nAFG\n      659
6                        \nAdam Zampa\n      \n\nAUS\n      655
7                   \nShakib Al Hasan\n      \n\nBAN\n      652
8                    \nShaheen Afridi\n      \n\nPAK\n      641
9                 \nMustafizur Rahman\n      \n\nBAN\n      638

                                  Career Best Rating
0                                               None
1  \n\n\n                                736 v Ne...
2  \n                                733 v Englan...
3  \n                                775 v Austra...
4  \n                                783 v New Ze...
5  \n                                806 v Pakist...
6  \n                                655 v Englan...
7  \n                                717 v Zimbab...
8  \n                                688 v West I...
9  \n                                695 v West I...

In [23]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in women’s cricket along w

In [24]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"


response = requests.get(url)


soup = BeautifulSoup(response.content, "html.parser")


table = soup.find("table", attrs={"class": "table"})


headers = [header.text.strip() for header in table.find_all("th")]


rows = []
for row in table.find_all("tr"):
    rows.append([cell.text.strip() for cell in row.find_all("td")])


df = pd.DataFrame(rows, columns=headers)


df = df.iloc[:10, :]

print(df)

    Pos           Team\nT Matches\nM Points\nP Rating\nR
0  None              None       None      None      None
1     1    Australia\nAUS         21     3,603       172
2     2      England\nENG         28     3,342       119
3     3  South Africa\nSA         26     3,098       119
4     4        India\nIND         27     2,820       104
5     5   New Zealand\nNZ         25     2,553       102
6     6   West Indies\nWI         27     2,535        94
7     7   Bangladesh\nBAN         13       983        76
8     8     Thailand\nTHA          8       572        72
9     9     Pakistan\nPAK         27     1,678        62

In [25]:
#b) Top 10 women’s ODI Batting players along with the records of their team and rating

In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"


response = requests.get(url)


soup = BeautifulSoup(response.content, "html.parser")


table = soup.find("table", class_="table")


rows = table.find_all("tr")


rows = rows[1:]


rankings = []


for row in rows:
   
    cells = row.find_all("td")
    
    
    rank = cells[0].text
    team = cells[1].text
    rating = cells[2].text
    
    
    rankings.append({
        "Rank": rank,
        "Team": team,
        "Rating": rating
    })



df = pd.DataFrame(rankings)

df= df.iloc[:10, :]
print(df)

  Rank                    Team Rating
0    1    \n\nAustralia\nAUS\n     21
1    2      \n\nEngland\nENG\n     28
2    3  \n\nSouth Africa\nSA\n     26
3    4        \n\nIndia\nIND\n     27
4    5   \n\nNew Zealand\nNZ\n     25
5    6   \n\nWest Indies\nWI\n     27
6    7   \n\nBangladesh\nBAN\n     13
7    8     \n\nThailand\nTHA\n      8
8    9     \n\nPakistan\nPAK\n     27
9   10     \n\nSri Lanka\nSL\n      8

In [27]:
#Top 10 women’s ODI all-rounder along with the records of their team and rating

In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'


response = requests.get(url)


soup = BeautifulSoup(response.content, 'html.parser')


table = soup.find('table', {'class': 'table'})

data = []
rows = table.find_all('tr')
for row in rows[1:11]:
    cols = row.find_all('td')
    player = cols[0].text.strip()
    team = cols[1].text.strip()
    rating = int(cols[2].text.strip())
    data.append([player, team, rating])

df = pd.DataFrame(data, columns=['Player', 'Team', 'Rating'])

print(df)

  Player              Team  Rating
0      1    Australia\nAUS      21
1      2      England\nENG      28
2      3  South Africa\nSA      26
3      4        India\nIND      27
4      5   New Zealand\nNZ      25
5      6   West Indies\nWI      27
6      7   Bangladesh\nBAN      13
7      8     Thailand\nTHA       8
8      9     Pakistan\nPAK      27
9     10     Sri Lanka\nSL       8

In [29]:
# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and 
#make data framei) Headline

In [30]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


response = requests.get("https://www.cnbc.com/world/?region=world")


soup = BeautifulSoup(response.content, "html.parser")


headlines = soup.find_all("div", class_="SecondaryCard-headline")
for i in soup.find_all("div",class_="LatestNews-container"):
    headline.append(i.find("div",class_="LatestNews-headline")).text


headline_texts = [headline.text for headline in headlines]

df = pd.DataFrame({"Headline" })


print(df.head())

NameError: name 'headline' is not defined

In [ ]:
#TIME

In [31]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)


soup = BeautifulSoup(response.content, "html.parser")


articles = soup.find_all("span", class_="LatestNews-wrapper")


news_data = []


for article in articles:
    headline = article.find("div",class_="LatestNews-container")
for article in articles:
    time=article.find("div",class_="LatestNews-timestamp")
    
    news_data.append({"Headline": headline, "Time": time})


df = pd.DataFrame(news_data)


print(df)

   Headline  Time
0      None  None
1      None  None
2      None  None
3      None  None
4      None  None
5      None  None
6      None  None
7      None  None
8      None  None
9      None  None
10     None  None
11     None  None
12     None  None
13     None  None
14     None  None
15     None  None
16     None  None
17     None  None
18     None  None
19     None  None
20     None  None
21     None  None
22     None  None
23     None  None
24     None  None
25     None  None
26     None  None
27     None  None
28     None  None
29     None  None

In [ ]:
#9) Write a python program to scrape mentioned details from dineout.co.in and make data frame 1) restautant name

In [32]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [33]:
pip install requests

Requirement already satisfied: requests in c:\users\kalya\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kalya\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kalya\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kalya\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\kalya\anaconda3\lib\site-packages (from requests) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [34]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\kalya\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\kalya\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\kalya\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [35]:

import requests
import pandas as pd
from bs4 import BeautifulSoup

In [36]:
soup = BeautifulSoup(page.content)
first_title = soup.find('a',class_="restnt-name ellipsis")
first_title

<a analytics-action="RestaurantCardClick" analytics-label="86792_Castle Barbeque" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/castle-barbeque-connaught-place-central-delhi-86792">Castle Barbeque</a>

In [37]:
first_title.text

'Castle Barbeque'

In [38]:
loc= soup.find('div',class_="restnt-loc ellipsis" )
loc.text

'Connaught Place, Central Delhi'

In [39]:
titles = []

for i in soup.find_all('a',class_="restnt-name ellipsis"):
    titles.append(i.text)
titles[1:2]

['Jungle Jamboree']

In [40]:
titles

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [41]:
Location = []
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)
    
Location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [42]:

price= soup.find('span',class_="double-line-ellipsis")
price.text

'₹ 2,000 for 2 (approx) | Chinese, North Indian'

In [43]:
price = soup.find('span',class_="double-line-ellipsis")
price.text.split('|')[0]

'₹ 2,000 for 2 (approx) '

In [44]:
loc= soup.find('div',class_="restnt-loc ellipsis" )
loc.text

'Connaught Place, Central Delhi'

In [45]:
k= soup.find('span',class_="double-line-ellipsis")
k.text.split('1')[0]

'₹ 2,000 for 2 (approx) | Chinese, North Indian'

In [46]:
images = []
for i in soup.find_all("img", class_="no-img"):
    images.append(i.get('data-src'))
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [47]:
print(len(titles),len(price),len(Location),len(images))

9 5 9 9

In [48]:
import pandas as pd

In [49]:
df=pd.DataFrame({'Titles':titles,'Location':Location,'Image_url':images})
df

,Titles,Location,Image_url
0,Castle Barbeque,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon",https://im1.dineout.co.in/images/uploads/resta...

In [50]:
#Write a python program to scrape the details of most downloaded articles from AI in last 90
#days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
#Scrape below mentioned details and make data framei) Paper Title
#ii) Authors
#iii) Published Date
#iv) Paper UR

In [63]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, "html.parser")

   
    article_elements = soup.find_all("div", class_="sc-orwwe2-2 iquSkg")

   
    articles = []

   
    for article_element in article_elements:
      
        title = article_element.find("h3").text.strip()
        authors = article_element.find("span", class_="sc-1w3fpd7-0 dnCnAO").text.strip()
        date = article_element.find("span", class_="sc-1thf9ly-2 dvggWt").text.strip()
        paper_url = article_element.find("a")["sc-uosj0-0 cmlOwO"]

        articles.append({
            "Title": title,
            "Authors": authors,
            "Published Date": date,
            "Paper URL": paper_url
        })

  
    df = pd.DataFrame(articles)

  

    print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) 
#from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [54]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://presidentofindia.nic.in/former-presidents.htm"
html_content = requests.get(url).content

soup = BeautifulSoup(html_content, "html.parser")

table_rows = soup.find_all("div",class_="innerSidebar alignRight")

data = []
for tr in table_rows:
    td = tr.find_all("listing cf")
    row = [i.text for i in td]
    data.append(row)

df = pd.DataFrame(data[1:], columns=["Name", "Term of Office"])

print(df)

Empty DataFrame
Columns: [Name, Term of Office]
Index: []